$PROJDIR

obj
Temp
.suo
.userprefs

$PROJDIR/Unity/IntelligentHome/Library

cache
metadata
ScriptAssemblies
ShaderCache
assetDatabase3
assetservercachev3
AssetServerCacheV3
AssetVersioning.db
expandedItems
FailedAssetImports.txt
guidmapper
ScriptMapper
unity default resources
unity editor resources
shadercompiler*